/*
 * Base structure
 */
@font-face {
  font-family: 'helvitca-bold';
  src: url('../fonts/helvitca/bold.eot');
  src: url('../fonts/helvitca/bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helvitca/bold.woff') format('woff'),
       url('../fonts/helvitca/bold.ttf')  format('truetype'),
       url('../fonts/helvitca/bold.svg#helvitca-bold') format('svg');
}
@font-face {
  font-family: 'helvitca-light';
  src: url('../fonts/helvitca/light.eot');
  src: url('../fonts/helvitca/light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helvitca/light.woff') format('woff'),
       url('../fonts/helvitca/light.ttf')  format('truetype'),
       url('../fonts/helvitca/light.svg#helvitca-light') format('svg');
}

/* Move down content because we have a fixed navbar that is 50px tall */
body{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
outline:0;
}
a,a:hover,a:focus{outline:0;    
	}
u{font-family: Helvetica Neue,Helvetica,Arial,sans-serif;}
.active{
outline:0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 14px 0px 14px 0px;
}
.sub-header {
  font-family: 'helvitca-light';
  color:#0A8BD2;
 
}
.sub-heading{
  font-family: 'helvitca-light';
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e8;
  color:#0A8BD2;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    color: #FFF;
    background: #0A8BD2 none repeat scroll 0% 0%!important;
}
.blue{
color:#0A8BD2;
}
table.dataTable{
margin-top:20px!important;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.m-t-70{
margin-top:70px!important;
}
.navbar-top-links{
/* margin-right:0; */
padding-left:10px;
  font-family: 'helvitca-light';
}
.navbar-brand{
height:auto!important;
padding: 15px 0 15px 0;
outline:0;
}
.navbar-brand img{
height:75px!	important;

}
.navbar-default {
border:0;
} 
#navbar{
border-bottom:2px solid #e7e7e7;
}
  
.desc {
   text-align: center;
   font-weight: normal;
   margin:0!important;
   font-size:12px;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/*
 * Sidebar
 */
 @media (max-width: 1100px) {
 .navbar-brand  img{
    height: 58px;
 }
 
}
@media (max-width: 768px) {
.navbar-top-links{
display:none;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    border:0;
}
 
.main {
    padding-right: 40px;
    padding-left: 40px;
  }
 .navbar-default {
    margin-bottom:0;
}
.navbar-brand {
    height: auto !important;
    padding: 15px 0px 15px 15px;
}
/* Hide for mobile, show later */
.sidebar ul li  a{
    font-size:15px!important;
}
}
 .sidebar {border:0;}

@media (min-width: 768px) {
  .sidebar {
 /*    position: fixed;  */
    top: 118px;
    bottom: 0;
    /* left: 0; */
    z-index: 1000;
    display: block;
    padding-right: 20px;
	padding-top:20px;
	border:0;
    /* Scrollable contents if viewport is shorter than content. */
   /*  background-color: #f5f5f5;
    border-right: 1px solid #eee; */
  }
  
 
}
@media (max-width: 310px){
.navbar-toggle {
    position: absolute;
	}
	
}
/* Sidebar navigation */

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;

}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
   
}
.sidebar ul li  a{
   background:#fff;
    border-bottom: 1px solid #e7e7e7;
	color:#000;
	outline:0;
	font-family: 'helvitca-light';
    font-size:14px;
}
.sidebar ul li  a:hover{
   background:#fff;
   font-weight:bold;
   color:#0A8BD2;
}
.sidebar ul li  a.active{
   background:#fff;
   font-weight:bold;
   color:#0A8BD2;
   outline:0;
}
.sidebar ul li  a:focus{
   background:#fff;

}
 .nav-second-level li a:hover,.nav-second-level li a:focus,.nav-second-level li a:active{
   background:#fff;
   color:#0A8BD2;
   font-weight:normal!important;
   outline:0;
}


.sidebar .arrow {
    float:right;
}

.sidebar .fa.arrow:before {
    
	 content: "\f105";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

.navbar-default{
background:#fff!important;

}
.lock.glyphicon{
font-size:20px;
width:20%; 
text-align:center;
}
p small.sec{
font-size:9px!important;
width:80%; 
float:right;
}
/* .navbar-header{
min-height:100px;
} */
.m-10{
margin:0 20px 20px 0;
}
/*
 * Main content
 */

.main {

  padding:20px;
}
@media (min-width: 768px) {
 
}
.main .page-header {
  margin-top: 0;
}

.m-t-0{
margin-top:0;
}
.m-t-10{
margin-top:10px;
}
.m-t-20{
margin-top:20px;
}
.m-t-30{
margin-top:30px;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.panel-blue{
  background-color:#E4EFFA!important;
  border:0!important;
  box-shadow:none;
}
.panel-blue .panel-body{
 padding:10px 15px 10px 15px;
}
.panel-grey{
  background-color:#EDEDED!important;
  border:0!important;
  box-shadow:none;
  color:black;
}

.ref-frd.panel-grey .panel-body{
 padding:20px 30px 20px 30px;
}
.ref-frd .panel-body{
min-height:150px;
}
.ref-frd a{
position: absolute;
bottom: 28%;
right: 33%;

}
#order_info.table > tbody > tr > td{
border-top: 0px!important;
padding:8px 0 8px 0;
font-family:'helvitca-bold';
}
.llom-order-info.table > tbody > tr > td{
border-top: 0px!important;
padding:8px 0 8px 0;
font-family:'helvitca-bold';
}

.table > tbody > tr > td:last-child{
text-align:right;
}
.table > thead > tr > th:last-child{
text-align:right;
}
.display.dataTable.stripe tbody tr.odd, #payment_history.dataTable.display tbody tr.odd{
background-color: #fff;
}
.display.dataTable.display tbody tr.odd > .sorting_1, #payment_history.dataTable.order-column.stripe tbody tr.odd > .sorting_1{
background-color: #fff;
}

.dataTables_wrapper .dataTables_paginate {
    float: right!important;
    text-align:center!important;
    padding-top: 2em!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
color:#0A8BD2!important;
border: 0!important;
background: transparent!important;
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top:2em!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border:transparent!important;
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 0em!important;
    border-radius: 2px;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0px none;
    box-shadow:none!important;
}
.btn-block {
    display: inline-block!important;
    width: 100%;
}
/* p.tpup:hover{
text-decoration:none!important;
} */
#price tr:last-child{
font-family:"helvitca-bold";
}
#price tr:first-child td{
border-top:0;
}
.navbar-nav > li> a {
    border-radius: 0px;
    color: #FFF;
    padding:20px 5px!important; 
}
.navbar-nav > li{
border-radius: 0px;
color: #ccc;
padding:15px 4px 0px 4px!important; 
}
.black, .black:hover{
color:#000;
text-decoration:none;

}
.currency-status .btn-xs{
font-size: 11px;
}
#banner-card p{
margin-top:14px;
}
#banner-card .btn {
margin-top:12px;
font-size:18px;
}

#banner-card {
    padding: 7px 17px 7px 17px !important;

}
#price td{
padding: 4px;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
#price tr:last-child td{
font-weight:bold;
}
.m-b-20{margin-bottom:20px;}
.m-auto{
margin:0 auto!important;
float:none!important;
}
.p-top{
padding-top: 30px !important;
background: transparent url("../images/divider.png") no-repeat scroll 0px 12px;
font-size:12px;
}

li > a span{
padding:10px 10px;
}
li > a span.fa{
padding:3px 10px;
}
.list-unstyled li{ 
margin-bottom:5px;
}
.list-unstyled li a u{ 
position:relative;
top:6px;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.list-unstyled:nth-of-type(1) > li:nth-child(2){ 
margin-bottom:0px;
}
.btn-blue1{
background-color:#57C0E0;
color:#fff;
}
.btn-green{
background-color:#00C938;
color:#fff;
}
.red{
color:#ff0000;
}
#price tr > td:nth-of-type(2){
text-align:right;
}


.list-group-item{
background:#fff!important;
border:0;
border-bottom: 1px solid #CCC!important;
margin-bottom:0!important;
}
.list-group-submenu {
  margin-left:20px;
  }
.m-b-0{
  margin-bottom:0px!important;
}
.m-b-10{
  margin-bottom:10px!important;
}
.m-b-5{
margin-bottom:5px!important;
}
.panel-b-s{
box-shadow: none!important;

}
.list-group a{
color: #000;
}

a.list-group-item:hover, a.list-group-item:focus{
    font-weight:bold;
    text-decoration: none;
    background-color: #F5F5F5;
	color:#0A8BD2;
	outline: 0;
}
.block{
display:block;
}
a span:focus{
   -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
 }
#MainMenu .collapse a{
 margin-left:10px!important;
 }
 


.breadcrumb {
	/*centering*/
	display: inline-block;
	/* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35); */
	overflow: hidden;
	border-radius: 0px!important;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
	padding:0!important;
	background-color:#fff;
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	line-height: 32px;
	color:#fff;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0px 60px 0px 30px;
	background: #fff;
	background: #d4d4d4;
	position: relative;
	font-weight:normal;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.breadcrumb a .h4 {
	font-size: 22px;
	position:relative;
	top:3px;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
	padding: 0px 60px 0px 10px;
	border-radius:0!important; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	 border-radius: 0 5px 5px 0;  /*this was to prevent glitches on hover*/
	padding-right: 20px;
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
	background: #333;
	background: #c5dff6;
	color: #4e8ad0;
}

.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: #333;
	background:  #c5dff6;
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; 
	width: 36px; 
	height: 32px;
	transform: scale(0.707) rotate(45deg);
	z-index: 1;
	background: #666;
	background: #d4d4d4;
	box-shadow: 
		1px -1px 0 1px rgba(255, 255, 255, 1), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb a:before {
	/* content: counter(flag);
	counter-increment: flag;
	font-weight: bold; 
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 10px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222); */

}

.breadcrumb a:first-child{padding: 0px 30px 0px 10px;}
/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb-mobile a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; 
	width: 36px; 
	height: 32px;
	transform: scale(0.707) rotate(45deg);
	z-index: 1;
	background: #666;
	background: #d4d4d4;
	box-shadow: 
		1px -1px 0 1px rgba(255, 255, 255, 1), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb-mobile a:last-child:after {
	content: none;
}



.flat a, .flat a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
.flat a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
	background: #9EEB62;
}
.breadcrumb .h4{
	margin-right:8px;
}
.borderless td, .borderless th {
    border: none!important;
}
.floated tr td:first-child{
	text-align:left;
}
.floated tr td:last-child{
	text-align:right;
}
.bold{
	font-family:"helvitca-bold"!important;
}
.btn-danger{
	background:#EE3300!important;
}
.text-danger{
	color:#EE3300!important;
}

/* .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #FFF;
    background-color:inherit;
} */

.pagination{
margin:0!important;
}
.m-width{
margin:auto 30px;
}
.bg-yellow{
background:#fbf9c6;
}
.bg-yellow a{
color:#000!important;
}
.p-10{
padding:10px 30px;
 border-right: 1px solid #ccc;
 display:bock;
}
.p-20{
padding:10px 10px;
 display:bock;
}
.confirm{
font-family:"helvitca-bold";
}
.text-blue{
color:#48A1EC;
cursor:pointer;
}
.blue-text{
color:#48A1EC;
}
.blue-text{
color:#48A1EC;
}
.text-blue-head{
color:#4F8ACC;
/*z-index:999999999;*/
position:relative;
cursor:pointer;
}
.table-responsive{
border:0!important;
}
.m-l-5{
margin-left:5px;
}
.m-r-5{
margin-right:5px;
}
.m-l-10{
margin-left:10px;
}
.panel.panel-accordian {
    margin-bottom: 20px;
    background-color: #FFF;
    border-top: 1px solid #e6e6e8;
	 border-bottom: 1px solid #e6e6e8;
	 box-shadow:none;
	 border-radius: 0px;
 }

.dash-line{
background:url(dot.png);
width:10px;
height:10px;
 
 }
 .click_url.btn{
padding: 8px 12px 8px 12px;
 }
 .light{
font-family:"helvitca-light";
}
.no-padding{
padding-right:0!important
}

.p-l-0{
padding-left:0!important;
}
.m-h-10{
margin:10px 0;
}


.flg-icon-sl{
background:#fff url('../images/flags/sl.png') no-repeat left center;
background-position: 3px 3px;
background-color:#fff!important;
}
.flg-icon-phl{
background:#fff url('../images/flags/PHL.png') no-repeat left center;
background-position: 3px 3px;
background-color:#fff!important;
}
.flg-icon-ngr{
background:#fff url('../images/flags/NGA.png') no-repeat left center;
background-position: 3px 3px;
background-color:#fff!important;
}
.card-type.list-inline > li {
    display: inline-block;
    padding-right: 0px;
    padding-left: 5px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield;
}

.p-l-40{
padding-left:40px;
}
.flg-icon_uk{
background:url('../images/flags/uk-big.jpg')no-repeat left center;
background-position: 3px 4px;
background-color:#fff!important;
}
.flg-icon_nl{
background:url('../images/flags/NLD.png')no-repeat left center;
background-position: 3px 4px;
background-color:#fff!important;
}
.flg-icon_se{
background:url('../images/flags/SWE.png')no-repeat left center;
background-position: 3px 4px;
background-color:#fff!important;
}
.flg-icon_at{
background:url('../images/flags/AUT.png')no-repeat left center;
background-position: 3px 4px;
background-color:#fff!important;
}
.flg-icon_dk{
background:url('../images/flags/DNK.png')no-repeat left center;
background-position: 3px 4px;
background-color:#fff!important;
}
.flg-icon_fr{
background:url('../images/flags/FRA.png')no-repeat left center;
background-position: 3px 4px;
background-color:#fff!important;
}
.flg-icon_be{
background:url('../images/flags/BEL.png')no-repeat left center;
background-position: 3px 4px;
background-color:#fff!important;
}
.flg-icon_pt{
background:url('../images/flags/POL.png')no-repeat left center;
background-position: 3px 4px;
background-color:#fff!important;
}
.bg-grey{
background:#F5F5F5!important;
border:0!important;
box-shadow:none;
}

.t-b-top > thead > tr > th {
    border-top: 2px solid #DDD!important;
	}
.t-b-btm{
  border-bottom: 1px solid #DDD!important;
}
.m-0{
margin:0;
}

.top-up a{

background:#fff url('../images/top-up.png');
background-repeat:no-repeat;
background-position: center 70px;
width:100%;
height:120px;
box-shadow: #ccc 0px 3px 10px 3px inset;
border-radius:10px!important;
text-align:center;
vertical-align:middle;
font-family:"helvitca-bold";
margin-bottom:10px;
outline:0;
}

#accordian .panel {
    margin-bottom: 0px;
    background-color:transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
}
#accordian_1 .panel {
    margin-bottom: 0px;
    background-color:transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
}
#data-sub li a{

background:#fff url('../images/top-up.png');
background-repeat:no-repeat;
background-position: center 70px;
width:100%;
height:130px;
box-shadow: #ccc 0px 3px 10px 3px inset;
border-radius:10px!important;
text-align:center;
vertical-align:middle;
font-family:"helvitca-bold";
margin-bottom:10px;
outline:0;
}
#data-sub li.active a{

background:#fff url('../images/top-up.png');
background-repeat:no-repeat;
background-position: center 70px;
width:100%;
height:130px;
box-shadow: 0px 3px 10px 3px #3A6698 inset;
border-radius:10px!important;
text-align:center;
vertical-align:middle;
font-family:"helvitca-bold";
outline:0;
}


.smart-s li a{

background:#fff url('../images/top-up.png');
background-repeat:no-repeat;
background-position: center 70px;
width:100%;
height:130px;
box-shadow: #ccc 0px 3px 10px 3px inset;
border-radius:10px!important;
text-align:center;
vertical-align:middle;
font-family:"helvitca-bold";
margin-bottom:10px;
outline:0;
}
.smart-s li.active a{

background:#fff url('../images/top-up.png');
background-repeat:no-repeat;
background-position: center 70px;
width:100%;
height:130px;
box-shadow: 0px 3px 10px 3px #3A6698 inset;
border-radius:10px!important;
text-align:center;
vertical-align:middle;
font-family:"helvitca-bold";
outline:0;
}

.cards{
font-size:40px;
padding-right:0!important;
}
.data{
font-size:18px;
}
.cards.nav-pills>li.active>a{
color: #fff;
outline:0;
background: #0A8BD2 url('../images/topup-active.png') no-repeat center 70px!important;
box-shadow: #3a6698 0px 3px 10px 3px inset;
}
.data.nav>li.active>a{
color: #fff;
outline:0;
background:#0A8BD2 url('../images/topup-active.png') no-repeat center 70px!important;
box-shadow: #3a6698 0px 3px 10px 3px inset;
}
.data.nav>li>a {
position: relative;
display: block;
/* padding: 30px 15px; */
line-height:75px;
}
.cards > li + li {
    margin-left: 0px;
}	
.data > li + li {
    margin-left: 0px;
}
.input-group-btn .btn{
display:table!important;
}
.menu-desc{
font-size:20px;
}
.btn-blue {
    color: #FFF;
    background-color:#0A8BD2;
    border-color: none;
}
.row .btn-primary {
    color: #FFF;
     background-color:#0A8BD2;
    border-color: #2E6DA4;
}
.white.panel{
margin-bottom:0;
}
.email.table{
width:auto;
margin-bottom:0;
}
p.refer{
margin-bottom:0!important;
}
.sim select{
width:auto!important;
}
.currency-status li a,.currency-status li a:hover{
text-decoration:none;
color:#fff;
font-family: 'helvitca-bold';
}
table.dataTable.no-footer {
    border-bottom: 1px solid #E6E3E3!important;
}
#mobile.btn-xs{font-size:13px;}
.btn-info {
    color: #FFF;
    background-color: #0A8BD2!important;
    border-color: #0A8BD2!important;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #DDD!important;
	border-top: 1px solid #DDD!important;
}
table.dataTable thead .sorting {
    background-image:none!important;
}
table.dataTable thead .sorting_asc {
    background-image:none!important;
}
table.dataTable thead .sorting_desc {
     background-image:none!important;
}
table.dataTable thead th, table.dataTable thead td{
padding: 10px 5px!important;
}
table.dataTable tbody th, table.dataTable tbody td {
padding: 8px 5px!important;
}
.fa{
padding-right:5px;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd{
background:#fff!important;
}
/*table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1
{
background:#fff!important;
}
*/
/* Switch SECTION START*/
/*------------------------------------------------*/
.Switch {
background: #fff!important;
position: relative;
display: inline-block;
font-size: 1em;
font-weight: bold;
font-family: "helvitca-light";
height: 34px;
width:105px;
padding: 6px 6px 5px 6px;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.2);
border-radius: 5px;
box-shadow: 0px 0px 4px rgba(0,0,0,0.1), inset 0px 1px 3px 0px rgba(0,0,0,0.1);
cursor: pointer;
}

body.IE7 .Switch { width: 78px; }

.Switch span { display: table-cell; padding:0px 11px 0px 11px;color:white;position:relative;}

.Switch .Toggle {
position: absolute;
top: -1px;
width: 52px;
height: 34px;
border-radius: 5px;
background:#0A8BD2;
border:1px solid rgba(255,255,255,0.2);
-webkit-transition: all 0.15s ease-in-out;
-moz-transition: all 0.15s ease-in-out;
-o-transition: all 0.15s ease-in-out;
-ms-transition: all 0.15s ease-in-out;
}

.Switch.On .Toggle { left: 0%; }
.Switch.Off .Toggle { left: 50%; }
/* Round Switch */


.loader {
  width: 3em;
  height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px #444;
 
}
.loader:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#009EE3 , black 90%);
  animation: spin .5s infinite linear;
}
.loader:after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left:5%;
  background-color:#fff;
  border-radius: 50%;
  box-shadow: inset 0 0 5px #444;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.load-bg{
    position:fixed;
    top:0;
    left:0;   
    width:100%;
    height:100%;
    background:rgba(255, 255, 255, 0.6);
    z-index:99999;
    display: none;
}
table.dataTable td.dataTables_empty{
text-align:center !important;
color:#f00;
}
table.dataTable th{
text-align:center;
}
table.dataTable th {
 text-align: left;
}
#p_dtails.well{
padding:19px 35px 19px 19px;
}
.card-type{
margin-left:0;
}




.control-label{
font-family: "helvitca-bold";
}
.register{
margin-top:15%;
}
.register form label {
    margin: 7px 0px 10px 5px;
    font-size: 16px;
    text-align: left;
	color: #555;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.register form {
    padding: 20px 50px 40px 50px;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
}.register form label {
    text-align:left!important;
	font-weight:normal;
}
.register form input.form-control {
   border-radius:2px;
   height:40px;
}
.register form button {
    cursor: pointer;
    width: 60%;
    height: 42px;
    margin-top: 25px;
    padding: 0;
    background: #419DEB;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.register form button:hover {
    -moz-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    -webkit-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
    box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
}

.register form button:active {
    -moz-box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
    box-shadow:
        0 -15px 30px 0 rgba(255,255,255,.05) inset,       
        0 5px 8px 0 rgba(0,0,0,.1) inset;
}
.register form h2 {
    margin-bottom: 25px;
    padding-bottom: 15px;
    background: transparent scroll 70px 6px;
    border-bottom: 2px dotted #BBB;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

#security_code-error{white-space:nowrap;}
.checkalert > label{min-height:70px;}
#txtMonth{
 color:#0A8BD2;
 outline:0;
 margin-right:15px;
 display:inline-block;
 font-size:inherit;
 margin-left:15px;
}
#txtType{
 color:#0A8BD2;
 outline:0;
 padding-right:20px;
 display:inline-block;
 font-size:inherit;
 margin:0 15px 0 15px;
}
.cs_content{font-size:15px;}
#DateofBirth-error{
white-space:nowrap;
}
.subs_form .radio-inline{
padding-top:15px;}
.fa.fa-info-circle{
font-size:20px;
color:#0A8BD2;
margin-top:5px;

}
#navbar .text-hide{
font: 100% a;
color: transparent;
text-shadow: none;
background-color: transparent;
border: 0;
cursor:default;
}
.alert .list-inline li{
display:table-cell;
padding-right:10px;
padding-left:10px;
}
.alert .list-inline li:first-child{
border-right:1px solid #D1D1D1;
}
.alert-success .close {
    float: right;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    background: #73C471;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    position: relative;
    text-align: center;
}
#banner-card .list-inline li{
vertical-align: middle;
text-align:center;
}
#banner-card .list-inline{
margin-left:0;
}
.paginate_button.disabled{display:none!important}


/* 01-02-2016 */

.conformation-popup tr td p{margin:10px 0px;}
.payment-success #order_info{margin-bottom:25px;}
.pd-0{padding:0px !important;}
.pd-l-30{padding-left:30px;}
p small.sec span{width:100%; float:left;}
.payment-order-info,.payment-order-info-blue{width:100%; float:left; margin:0px; padding:0px;}
.payment-order-info li,.payment-order-info-blue li{width:25%;float:left; margin:0px; list-style:none; font-weight:bold; font-size:15px;padding-top:15px; }
.payment-order-info li:first-child{width:75%; background:url('../images/block-dot.png') repeat-x center bottom;}
.payment-order-info li{color:#000;}
.payment-order-info-blue li{color:#48A1EC;}
.payment-order-info-blue li:first-child{ background:url('../images/blue-dot.png') repeat-x center 83%;}
.payment-order-info-blue li:last-child{padding-left:10px;}
.payment-order-info-blue li span{padding-right:12px;}
.bg-white{background:#fff; float:left;}
.order-det-bold tr td{font-weight:bold; padding:8px 0 !important;}