/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.Dt-right{text-align:right;}
.payment-order-info-blue li:first-child{width:70%;}
.payment-order-info-blue li:last-child{width:30%;}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.width10per{width:10% !important;}
.width22per{width:21.5% !important;} 
.payment-order-info-blue li:first-child{width:70%;}
.payment-order-info-blue li:last-child{width:30%;}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.pd-r-0{padding-right:0px !important;}
}

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
#banner-card .list-inline li{
width:49%;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
   #banner-card .list-inline li{
	width:100%;
	} 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.payment-order-info-blue li:first-child{width:75%;}
.payment-order-info-blue li:last-child{width:25%;}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{margin-left:0px;}
.payment-order-info-blue li:first-child{width:60%;}
.payment-order-info-blue li:last-child{width:40%;}
    
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}

