/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Aug, 2015, 7:13:36 PM
    Author     : Shanmuganathan Velusamy
*/

.wrapper {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    height:100%;
}

.whitebg {
    margin-top: 10px;
    margin-bottom: 10px;
}

div {
    display: block;
}

.page-container {
    max-width: 1200px;
    min-height: 500px;
    background: #fff;
    display: block;
}

.header {
    width: 100%;
    /*position: relative;*/
    /*float: left;*/
    background: #fff;
    padding-bottom: 0;
}

.ac-title, .box-content, .bundle-box-content {
    color: #0A8BD2;
}

.s-title {
    font-size:20px;
}
.panel-bg {
    background-color: #F6F6F6;
}

.box-bg {
    border: 1px solid #B7B7B7;
    height:100px;
    border-radius: 5px;
}
.box-content, .bundle-box-content {
    font-size:30px; 
    font-weight:bold; 
    margin-top:5px; 
    margin-bottom:5px
}
.bundle-box-content {
    font-size:15px; 
    margin-top:20px;
}

.btn-payment {
    margin-bottom: 10px;
    margin-right: 5px;
    margin-top: 70px;
}

.pmt-label {
    margin-top: 10px;
}

.pmt-label1, .pmt-label {
    font-weight: bold; 
    font-size: 13px; 
}

.text-justify-xs {
    text-align: right;
}

.pmt-link {
    color:#EE3300; 
    text-decoration: underline;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {

  background-color: #EE3300;
  /*border-color: #31347B;*/
 }
 

@media (min-width: 768px) {
    .text-right-sm {
        text-align: left;
    }
}

@media (min-width: 992px) {
    .text-right-md {
        text-align: right;
    }
}
@media (min-width: 1200px) {
    .text-right-lg {
        text-align: right;
    }
}


::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

.header-text-1 {
    font-family:Calibri;
    font-size:16px;
    font-weight:bold;
    color:#68D5FD;
}

.header-box, .header-box-bal, .header-box-bns {
    border:1px solid #DDDDDD; 
    padding-top:1px; 
    padding-bottom:1px;
    border-radius: 5px;
    font-size: 12px;
    text-align:center;
    width:120px;
}
.header-box-bal, .header-box-bns {
    background-color:#58BFE0; 
    color:#ffffff;
    border:1px solid #fff;
    width:110px;
}

.header-box-bns {
    margin-top: 5px;
    background-color:#00C938;
}

label.error {
    color:red; 
    font-size:13px; 
	font-weight:normal;
    margin-top:5px;
}



/** 

*/

/* = STEPS CONTAINER
----------------------------*/
.wizard-steps {
    margin:20px 10px 0px 10px;
    padding:0px;
    position: relative;
    /*clear:both;*/
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.wizard-steps div {
    position:relative;
}
/* = STEP NUMBERS
----------------------------*/
.wizard-steps span {
    display: block;
    float: left;
    font-size: 10px;
    text-align:center;
    width:15px;
    margin: 2px 5px 0px 0px;
    line-height:15px;
    color: #ccc;
    background: #FFF;
    border: 2px solid #CCC;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
/* = DEFAULT STEPS
----------------------------*/
.wizard-steps a {
    position:relative;
    display:block;
    width:150px;
    height:24px;
    margin-right: 18px;
    padding:0px;
    float: left;
    font-size:11px;
    line-height:24px;
    color:#fff;
    background: #D5D5D5;
    text-decoration:none;
    text-align: center;
/*    text-shadow:1px 1px 1px rgba(255,255,255, 0.8);*/
}
.wizard-steps a:before {
    width:0px;
    height:0px;
    border-top: 12px solid #D5D5D5;
    border-bottom: 12px solid #D5D5D5;
    border-left:12px solid transparent;
    position: absolute;
    content: "";
    top: 0px;
    left: -12px;
}
.wizard-steps a:after {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left:12px solid #D5D5D5;
    position: absolute;
    content: "";
    top: 0px;
    right: -12px;
}
 
/* = COMPLETED STEPS
----------------------------*/
 
.wizard-steps .completed-step a {
    color:#163038;
    background: #A3C1C9;
}
.wizard-steps .completed-step a:before {
    border-top: 12px solid #A3C1C9;
    border-bottom: 12px solid #A3C1C9;
}
.wizard-steps .completed-step a:after {
    border-left: 12px solid #A3C1C9;
}
.wizard-steps .completed-step span {
    border: 2px solid #BBE0F7;
    color: #163038;
    text-shadow:none;
}
/* = ACTIVE STEPS
----------------------------*/
.wizard-steps .active-step a {
    color:#008CD1;
    background: #BBE0F7;
    /*text-shadow:1px 1px 1px rgba(0,0,0, 0.8);*/
}
.wizard-steps .active-step a:before {
    border-top: 12px solid #BBE0F7;
    border-bottom: 12px solid #BBE0F7;
}
.wizard-steps .active-step a:after {
    border-left: 12px solid #BBE0F7;
}
.wizard-steps .active-step span {
    color: #163038;
    -webkit-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    -moz-box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    box-shadow:0px 0px 2px rgba(0,0,0, 0.8);
    text-shadow:none;
    border: 2px solid #A3C1C9;
}
/* = HOVER STATES
----------------------------*/
.wizard-steps .completed-step:hover a, .wizard-steps .active-step:hover a {
    color:#fff;
    background: #8F061E;
    text-shadow:1px 1px 1px rgba(0,0,0, 0.8);
}
.wizard-steps .completed-step:hover span, .wizard-steps .active-step:hover span {
    color:#8F061E;
}
.wizard-steps .completed-step:hover a:before, .wizard-steps .active-step:hover a:before {
    border-top: 12px solid #8F061E;
    border-bottom: 12px solid #8F061E;
}
.wizard-steps .completed-step:hover a:after, .wizard-steps .active-step:hover a:after {
    border-left: 12px solid #8F061E;
}

/*=================left navibar begin=========================================*/

.gw-container.gw-main-container .gw-sidebar.gw-sidebar-fixed,
.gw-container.gw-main-container .gw-sidebar.gw-sidebar-fixed:before { left: auto }

.gw-sidebar {
  border: 1px solid #e5e5e5;
  border-width: 0 1px 0 0;
  background-color: #F2F2F2;
  bottom: 0;
  top: 0;
  left: 0;
}

.gw-sidebar .nano-pane {
  background: rgba(255, 255, 255, 0);
  font-size: 15px;
}

/*.gw-sidebar .gw-nav-list { border-right: 1px solid #CCC; }*/

.gw-sidebar .gw-nav-list li a { padding-left: 5px; }

.gw-nav-list {
  margin: 0;
  padding: 0;
  list-style: none
}

.gw-nav-list>li:first-child { border-top: 0; }

.gw-nav-list>li {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #fcfcfc;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  text-decoration: none;
}
 @-webkit-keyframes 
arrow-slide {  0% {
}
 100% {
-webkit-transform:rotate(225deg);
z-index:3
}
}
 @-webkit-keyframes 
arrow-slide1 {  0% {
}
 100% {
-webkit-transform:rotate(225deg);
z-index:3
}
}

.gw-nav-list>li.arrow-down:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-top: 1px solid #bababa;
  border-left: 1px solid #bababa;
  -webkit-transform: rotate(45deg);
  -webkit-animation: arrow-slide .5s 0s ease both;
}

.gw-nav-list>li.init-arrow-down:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-right: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  -webkit-transform: rotate(45deg);
}

.gw-nav-list>li.arrow-up:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-right: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  -webkit-transform: rotate(45deg);
  -webkit-animation: arrow-slide1 .5s 0s ease both;
}

.gw-nav-list>li.init-arrow-up:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  right: 10px;
  top: 15px;
  border-top: 1px solid #bababa;
  border-left: 1px solid #bababa;
  -webkit-transform: rotate(45deg);
}

.gw-nav-list>li.active { background-color: #fff; }

.gw-nav-list>li>a {
  display: block;
  height: 38px;
  line-height: 36px;
  padding: 0 16px 0 7px;
  background-color: #f9f9f9;
  color: #585858;
  text-shadow: none!important;
  font-size: 13px;
  text-decoration: none;
}

.gw-open > a { outline: 0; }

.gw-nav-list>li.gw-open { border-bottom-color: #e5e5e5 }

.gw-nav-list>li.gw-open>a {
  background-color: #fafafa;
  color: #1963aa
}

.gw-nav-list .gw-open>a,
.gw-nav-list .gw-open>a:hover,
.gw-nav-list .gw-open>a:focus { background-color: #fafafa }

.gw-nav .gw-open > a,
.gw-nav .gw-open > a:hover,
.gw-nav .gw-open > a:focus {
  background-color: #eee;
  border-color: #428bca;
}

.gw-nav-list>li.active>a,
.gw-nav-list>li.active>a:hover,
.gw-nav-list>li.active>a:focus,
.gw-nav-list>li.active>a:active {
  background-color: #fff;
  color: #00AEEF;
  font-weight: bold;
  font-size: 13px;
}

.gw-nav-list>li>a,
.gw-nav-list .gw-nav-header { margin: 0 }
.gw-nav-list>li.active>a>[class*="icon-"] {
 font-weight: normal
}

.gw-nav-list>li.active>a:hover:before { display: none }

.gw-nav-list>li.active:before {
  display: inline-block;
  content: "";
  position: absolute;
  right: -2px;
  top: -1px;
  bottom: 0;
  z-index: 1;
  border: 2px solid #00AEEF;
  border-width: 0 2px 0 0
}

.gw-nav-list li.gw-open>a:after { display: none }

.gw-nav-list>li a>.gw-arrow {
  display: inline-block;
  width: 14px!important;
  height: 14px;
  line-height: 14px;
  text-shadow: none;
  font-size: 18px;
  position: absolute;
  right: 11px;
  top: 11px;
  padding: 0;
  color: #666
}

.gw-nav-list>li a:hover>.gw-arrow,
.gw-nav-list>li.active>a>.gw-arrow,
.gw-nav-list>li.gw-open>a>.gw-arrow { color: #1963aa }

.gw-nav-list>li>a>[class*="icon-"]:first-child {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-right: 2px;
}

.gw-nav-list>li.active .gw-submenu {
 display: block;
 -webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.13);
  -moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,0.13);
  box-shadow: inset 0px 0px 5px rgba(0,0,0,0.13);
}

.gw-nav-list>li .gw-submenu {
  font-size: 13px;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.gw-nav-list>li .gw-submenu>li {
  margin-left: 0;
  position: relative
}

.gw-nav-list>li .gw-submenu>li>a {
  display: block;
  position: relative;
  color: #616161;
  padding: 7px 0 9px 43px;
  margin: 0;
  border-top: 1px dotted #e4e4e4;
  font-size: 14px;
  text-decoration: none;
}

.gw-nav-list>li .gw-submenu>li>a:focus { text-decoration: none }

.gw-nav-list>li .gw-submenu>li>a:hover {
  text-decoration: none;
  color: #00AEEF;
  background-color: rgba(25,25,50,0.1);
}

.gw-nav-list>li .gw-submenu>li.active:after {
  display: inline-block;
  content: "";
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: 0;
  z-index: 1;
  border: 2px solid #00AEEF;
}

.gw-nav-list>li .gw-submenu>li.active>a { color: #00AEEF }

.gw-nav-list>li .gw-submenu>li a>[class*="icon-"]:first-child {
  display: none;
  font-size: 12px;
  font-weight: normal;
  width: 18px;
  height: auto;
  line-height: 12px;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 11px;
  z-index: 1;
  background-color: #FFF
}

.gw-nav-list>li .gw-submenu>li.active>a>[class*="icon-"]:first-child,
.gw-nav-list>li .gw-submenu>li:hover>a>[class*="icon-"]:first-child { display: inline-block }

.gw-nav-list>li .gw-submenu>li.active>a>[class*="icon-"]:first-child { color: #c86139 }

.gw-nav-list>li>.gw-submenu>li:first-child>a { border-top: 0px; }

.gw-nav-list li .gw-submenu { overflow: hidden }

.gw-nav-list li.active.gw-open>.gw-submenu>li.active.gw-open>a.dropdown-toggle:after { display: none }

.gw-nav-list li.active>.gw-submenu>li.active>a:after { display: none }

.gw-nav-list li.active.gw-open>.gw-submenu>li.active>a:after { display: block }

.gw-nav-tabs li[class*=" icon-"],
.nav-tabs li[class^="icon-"] {
  width: 1.25em;
  display: inline-block;
  text-align: center
}
/*=================left navibar end=========================================*/

.bold {
	font-weight:bold;
}


.card-type li a img{
    opacity:0.5;
    
}

.card-active a img{
     opacity:1!important;
     
}

#profile_toggle{cursor:pointer;}

@media (min-width: 768px){
.profileIMG,.Mdisplay{display:none !important;}
}
@media (max-width: 768px){
.profileIMG{position:relative;}
.profileIMG #Mprofile_toggle_list{right:0; left:auto;}
}


table.dataTable{
margin-top:20px!important;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.table th{
/*text-align:center!important;*/
vertical-align:middle!important;
font-family: 'helvitca-light';

}
.table td{
vertical-align:middle!important;
font-family: 'helvitca-light';
/*text-align:center!important;*/
}
table.dataTable thead .sorting_asc{
background-image:none!important;
}
table.dataTable thead .sorting {
background-image:none!important;
}
table.dataTable thead .sorting_desc {
 background-image:none!important;
}

.dataTables_filter input{
   margin-bottom:10px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.dataTables_length select{
     margin-bottom:10px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.price_table tr:first-child td{
    background:#0A8BD2;
    color:#fff;
    padding:8px 12px;
    border:1px solid #625858;;
}
.price_table td{
   border :1px solid  #625858;
   padding:8px 12px;
}
.price_table { 
    border-collapse:collapse;
    text-align:center;
}

.secuercard-details{margin-bottom:25px; float:left;}
.secure-card{background:#fff url(../images/secure-logo.png) no-repeat center center / 100%; float:left; height: 72px;
width: 100%;position:relative;border: 1px solid rgba(204, 204, 204, 0.49);
border-radius: 5px;}
.secure-mastersecure{position:absolute;bottom:0;left:0; width:50%;height:45px;}
.secure-visaverified{position:absolute;bottom:0;left:50%; width:50%;height:45px}
.checkalert label.error{   
   position: absolute;
    bottom: 0;
    padding: 0px;
    width: 100%;
    right: 0;}

ol.price_comp li {
    padding-bottom: 10px;
}
.cursor{cursor:pointer;}
.loader1:before,
.loader1:after,
.loader1 {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader1 {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader1:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader1:after {
  left: 3.5em;
}
.loader1:before,
.loader1:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}
